.default-card {
  position: relative;
  display: block;
  border: 2px solid $color-yellow;
  text-align: center;
  color: $color-white;
  padding: 65px 0 50px 0;
  transition: 0.2s;
  margin-bottom: 25px;
  &:hover {
    background-color: $color-yellow;
    color: $color-black;
    cursor: pointer;
  }

  &:hover &__show {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  &__img-wrapper {
    display: block;
    margin: 0 auto 50px auto;
    width: 70%;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $ff-Druk;
  }

  &__show {
    display: none;
    font-size: 16px;
    color: $color-black;
    font-family: $ff-Inter;
  }
}
