-
	var goods = [
		{
			img: "/img/headphones.png",
			name : "headphones"
		},{
			img: "/img/speakers.png",
			name : "speakers"
		},{
			img: "/img/accessories.png",
			name : "accessories"
		},{
			img: "/img/amps.png",
			name : "amps"
		}
	]