doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="format-detection", content="telephone=no")
		meta(name="format-detection", content="date=no")
		meta(name="format-detection", content="address=no")
		meta(name="format-detection", content="email=no")
		meta(content="notranslate", name="google")
		block meta
			title Marshall
			
		link(href="http://db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
		link(href="./vendor/fancybox/jquery.fancybox.min.css", rel="stylesheet")
		link(href="./vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="./vendor/slick-1.8.1/slick/slick.css", rel="stylesheet")
		link(href="./vendor/jquery/jquery-ui.css", rel="stylesheet")
		link(href="./vendor/jquery/jquery-ui.theme.min.css", rel="stylesheet")
		link(href="./css/style.css", rel="stylesheet")

	body
		header
			include ../blocks/header/header.pug

		main
			block content

		footer

		.modals
			block modals
		
		script(src="./vendor/jquery/jquery.min.js")
		script(src="./vendor/jquery/jquery-ui.js")
		script(src="./vendor/bootstrap/js/popper.min.js")
		script(src="./vendor/bootstrap/js/bootstrap.min.js")
		script(src="./vendor/fancybox/jquery.fancybox.min.js")
		script(src="./vendor/slick-1.8.1/slick/slick.min.js")
		script(src="./js/custom.js")