/* global styles start */

/* default styles */

html {
  position: relative;
  min-width: 320px;
}

body {
  position: relative;

  font-family: $ff-Inter;
  font-size: $default-fs;
  line-height: 1.4;
  text-decoration-skip-ink: none;
  overflow-x: hidden;
  background-color: $color-black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
input,
textarea,
button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;

  @media (max-width: $screen-blg) {
    max-width: 1366px;
  }

  @media (min-width: $screen-lg) {
    width: 1200px;
    max-width: 1200px;
  }
}

input::placeholder {
  font-family: $ff-Inter;
  font-size: $default-fs;
  line-height: 22px;

  color: $color-black;

  @media (max-width: $screen-sm) {
    font-size: $default-fs-sm;
    line-height: 20px;
  }
}

.default-button {
  display: block;
  max-width: 300px;
  text-align: center;
  border: 2px solid $color-yellow;
  border-radius: 3px;
  font-size: 20px;
  font-family: $ff-Druk;
  padding: 15px 25px;
  color: $color-yellow;
  transition: 0.2s;
  &:hover {
    background-color: $color-yellow;
    color: $color-black;
  }
  &:focus {
    color: $color-yellow;
  }
}

/* main page styles */

.goods-category {
  margin-bottom: 150px;
}

.goods-category__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// .goods-cetegory__item {
//   float: left;
//   width: 25%;
//   padding: 0 10px;
// }

/* global styles end */
