// colors
$color-white: #ededed;
$color-black: #1a1f24;
$color-gray: #9c9c9c;
$color-yellow: #dabb90;

$bg-filter: #f3f3f3;
$br-input: #d1d1d1;

// fonts
$ff-Inter: "Inter", sans-serif;
$ff-Druk: "Druk Wide Bold", sans-serif;

$default-fs: 16px;
$default-fs-sm: 14px;
// $default-fs-blg: 18px;
// $default-fs-lg: 16px;
// $default-fs-xs: 14px;

$title-fs: 24px;
// $title-fs: 32px;
// $title-fs: 28px;
// $title-fs: 24px;

$lable-fs: 20px;
$lable-fs-sm: 16px;

// media breakpoints
$screen-blg: 1366px;
$screen-lg: 1199px;
$screen-md: 991px;
$screen-sm: 768px;
$screen-xs: 576px;
