include links.pug

.container
    .header-wrapper.clearfix
        .logo
            a(href="#")
                img(src="/img/logo.png")
        .header-menu
            ul.header-menu__nav  
                for i in links
                    li
                        a(href=i.link class="header-menu__nav-item")=i.name
        .header-menu-mobile             
            div(class="header-menu-mobile__sandwich js-mobile-menu-open")
                .sw-top
                .sw-bottom
                .sw-footer   
  
.mobile-menu
    ul.mobile-menu__nav  
        for i in links
            li
                a(href=i.link class="mobile-menu__nav-item")=i.name    
                